.background5 {
  background-image: url("./images/Star_Wars_Characters.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;

}.grid-container2 {
  display: grid;
  grid-template-rows: auto; /* Create two rows */
  width: 100%; /* Cover the width of the screen */
  height: 0px;
  justify-items: center; /* Center the content horizontally */
  gap: 20px; /* Adjust the gap between rows as needed */
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 10px; /* Adjust the gap between inputs as needed */
}

.inputs input {
  padding: 1%;
  border-radius: 4px;
  border: solid #222 1px;
  background: aliceblue;
}

.buttons button {
  margin: 10px 10px;
  width: 5vw;
  height: 2vw;
  color: #666;
  background-color: #999;
  border: solid #444 3px;
  border-radius: 8px;
}

.buttons button:hover {
  color: #777;
  background-color: #555;
  border-color: #222;
}