.background4 {
  background-image: url("./images/Forest_Landscape.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  box-sizing: border-box;
}

.info {
  background: #555;
  border: solid #444 4px; 
  color: red;
}

  .grid-item.inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: none;
    border: None;
    border-radius: 8px;
    margin: 20px;
    gap: 20px; /* Adjust the gap between cards as needed */
  }
  
  .favorite-card {
    margin-bottom: 20px;
    border: solid #555;
    background: linear-gradient(
      30deg,
      #555 5%,
      #777 10%,
      #888 30%,
      #999 50%,
      #ddd 70%,
      #ddd 80%,
      #999 95%
    );
    border-radius: 2px;
    background-color: rgba(153, 153, 153, 0.7); /* Translucent background */
  }
  
  .favorite-card .card-title {
    color: #111;
    font-weight: bold;
    border: solid #555 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .favorite-card .card-text {
    color:#222;
    border: solid #555 3px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
  }
  .favorite-card .card-image {
    height: 250px; /* Set the image height */
    object-fit: cover; /* Ensure the image covers the area */
    border-radius: 0;
  }
  
  .favorite-card .btn-danger {
    background-color: #666;
    border-color: #d43f3a;
    color: red;
  }
  
  .favorite-card .btn-danger:hover {
    background-color: red;
    border: #222;
    color: #222;
  }