.background {
  margin: 10px;
  background: url(./src/components/images/Forest_Landscape.jpg);
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

ul li a {
  text-transform: capitalize;
  color:black;
  background-color:#B8A038;
}

.main-page-contents {
  margin: 10px;
}

.main-page-contents h2 {
  text-transform: capitalize;
}