.background1 {
    margin: none;
    background-size: cover;
}

h2 {
    text-align: center;
    background-color: #705848;
    border: #705848;
}

h3 {
    text-align: center;
}

ul li a {
    text-transform: capitalize;
}

.main-page-contents h2 {
    text-transform: capitalize;
}